@import './reset.scss';
@import './icons.scss';
@import './variables.scss';
@import './mixins.scss';


html, body {
   background: $full-base;
   font-size: 16px;
}
#root {
   font-size: 0.875em;
}
#app {
   @include fullscreen;
}