$hd: 1px; // 基本单位

// 全局/品牌色
$brand-primary: #58bc5a;      //主题色
$brand-primary-tap: #ffc600;
$brand-success: #6abf47;
$brand-warning: #ffc600;
$brand-error: #f4333c;
$brand-important: #ff5b05;  // 用于小红点
$brand-wait: #108ee9;
$fill-base: #fff;
$full-base: #f8f8f8; // 背景色
$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);

// 文字色
$color-text-base: #000;                  // 基本
$color-text-base-inverse: #fff;          // 基本 - 反色
$color-text-secondary: #a4a9b0;          // 辅助色
$color-text-placeholder: #bbb;           // 文本框提示
$color-text-disabled: #bbb;              // 失效
$color-text-caption: #888;               // 辅助描述
$color-text-paragraph: #333;             // 段落
$color-link: $brand-primary;             // 链接

// 字体尺寸
// ---
$font-size-icontext: 10 * $hd;
$font-size-caption-sm: 12 * $hd;
$font-size-base: 14 * $hd;
$font-size-subhead: 15 * $hd;
$font-size-caption: 16 * $hd;
$font-size-heading: 18 * $hd;

// tab-bar
$tab-bar-fill: #ebeeef;
$tab-bar-height: 50 * $hd;

// 水平间距
$h-spacing-md: 8 * $hd;
$h-spacing-lg: 15 * $hd;