@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.hot-header {
   height: $tab-bar-height;
   display: flex;
   align-items: center;
   padding: 0 $h-spacing-lg;
   .header-title {
      font-size: $font-size-heading;
      flex: 1;
   }
}